
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid heading">
            <div>
                <h2>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h2>
                <h3>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h3>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <!------------------------- step 1 content starts  ---------------------------------- -->
        <div class="panel panel-primary" id="step1-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step1-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                        data-target="#step1-requirement-form-modal"><i class="fa fa-upload fa-lg"
                                                                       aria-hidden="true"> | চাহিদা পত্র </i>
                </button>
            </div>
            <div class="panel-body">
                <p>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ (বিসিএসআইআর)-এর আওতাধীন ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর
                    কেমিক্যাল মেজারমেন্টস- এর বৈজ্ঞানিক কর্মকর্তা
                    <b> <span id="rfq-initiator-name" style="color: #337AB7;"> ............</span> </b> এর কাছ থেকে প্রাপ্ত
                    চাহিদার (কপি সংযুক্ত) আলোকে গবেষণার জন্য
                    <b><span style="color: #337AB7;" id="rfq-heading">............</span></b> ক্রয় করা প্রয়োজন। কাজটি জরুরী বিধায় স্থানীয় সরবরাহকারী প্রতিষ্ঠানের
                    সাথে যোগাযোগ করে তুলনামূলক প্রতিযোগী দরদাতা দ্বারা PPR-২০০৮ এর তফসীল-২-এর বিধি ৯(২)(ক) অনুসরণে
                    RFQ পদ্ধতিতে সংগ্রহ করা যেতে পারে।
                </p>
                <!-- --------------- Modal for step1 edit start ------------------ -->
                <div class="modal fade" id="step1-modal" role="dialog" tabindex="1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step1-get-data-form" method="post">
                                    <textarea class="tinymce" id="step1-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step1-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- --------------- Modal for step1 edit end ------------------ -->
                <div id="step1-data-container" style="font-size:28px;"></div>

                <!-- --------------- Modal for step1 chahida potro start ------------------ -->
                <div class="modal fade" id="step1-requirement-form-modal" role="dialog" tabindex="1">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h3>
                                <h4>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h4>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="container-fluid" style="color: #ffffff;">
                                            <div class="row">
                                                <div class="col-md-6">সূত্র নং : ২০১৪১-১৫ আসবাবপত্র ক্রয়</div>
                                                <div class="col-md-6" id="date" style="text-align:center;"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12"
                                                     style="font-size:25px;text-align:center;font-weight:bold;">
                                                    চাহিদা পত্র
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table id="dataTable" width="100%" align="center">
                                            <tr>
                                                <th rowspan="2"></th>
                                                <th rowspan="2">Item No.</th>
                                                <th rowspan="2">Description of Items</th>
                                                <th rowspan="2">Unit of Measurement</th>
                                                <th rowspan="2">Quantity</th>
                                                <th colspan="2">Unit Rate of Price</th>
                                                <th colspan="2">Total Amount</th>
                                            </tr>
                                            <tr id="unit">
                                                <th>In Figure</th>
                                                <th>In Words</th>
                                                <th>In Figure</th>
                                                <th>In Words</th>
                                            </tr>
                                            <tr>
                                                <td height="100px" contenteditable="true"><input type="checkbox"
                                                                                                 name="chk"/></td>
                                                <td height="100px" contenteditable="true"
                                                    style="text-align: center;"> 1
                                                </td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                                <td height="100px" contenteditable="true"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <!-- <div class="col-sm-10 col-md-10 col-lg-10"></div>
                                            <div class="col-sm-2  col-md-2 col-lg-2 pull-right"> -->
                                            <div class="pull-right">
                                                <div class="btn-group" style="padding-right:15px;">
                                                    <button type="button" class="btn btn-sm btn-primary"
                                                            onclick="addRow('dataTable')"> Add Item
                                                    </button>
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                            onclick="deleteRow('dataTable')">Delete Item
                                                    </button>
                                                    <!-- <input type="button" value="Add Item" onclick="addRow('dataTable')" />
                                                    <input type="button" value="Delete Item" onclick="deleteRow('dataTable')" /> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="pull-right">
                                        <div class="btn-group" style="padding-right:30px;">
                                            <button type="button" class="btn btn-success"
                                                    id="submit-requisition-form" data-dismiss="modal"> Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- --------------- Modal for step1 chahida potro start ------------------ -->

            </div>
        </div>
        <!-- --------------------------- step 2 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step2-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step2-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    ২। সদয় অনুমোদনের জন্য নথি উপস্থাপন করা হলো।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step2-modal" role="dialog" tabindex="2">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step2-get-data-form" method="post">
                                    <textarea class="tinymce" id="step2-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step2-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step2-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>


        <!-- --------------------------- step 3 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step3-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step3-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    নোটানুচ্ছেদ ০১ এর অনুমোদনের আলোকে গবেষণাগারের প্রয়োজনের নিরীখে <span>............</span> এর Specification প্রস্তুত
                    করার দায়িত্ব বাজারমূল্য নির্ধারন ও স্পেসিফিকেশন প্রস্তুতকরন কমিটিকে দেয়া যেতে পারে।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step3-modal" role="dialog" tabindex="3">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step3-get-data-form" method="post">
                                    <textarea class="tinymce" id="step3-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step3-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step3-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>


        <!-- --------------------------- step 4 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step4-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step4-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    নোটানুচ্ছেদ ০৩ এর মাধ্যমে প্রাপ্ত আদেশের আলোকে প্রয়োজনীয় <span>............</span> সমূহের Specification ও বাজারমূল্য নির্ধারনকৃত
                    হয়েছে(কপি সংযুক্ত)। প্রস্তুতকৃত Specification ও বাজারমূল্যের আলোকে প্রয়োজনীয় <span>............</span> ক্রয় করা যেতে পারে।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step4-modal" role="dialog" tabindex="4">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step4-get-data-form" method="post">
                                    <textarea class="tinymce" id="step4-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step4-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step4-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>

        <!-- --------------------------- step 5 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step5-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step5-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    নোটানুচ্ছেদ ০১ এর অনুমোদনের আলোকে <span>............</span> সরবরাহকারী প্রতিষ্ঠানের নিকট হতে দরপত্র
                    আহ্বানের লক্ষ্যে নোটিশ বোর্ডে বিজ্ঞপ্তি প্রকাশ এবং চিঠির মাধ্যমে অবগত করার ব্যাপারে অনুমোদনের
                    জন্য নথি উপস্থাপন করা হলো।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step5-modal" role="dialog" tabindex="5">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step5-get-data-form" method="post">
                                    <textarea class="tinymce" id="step5-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step5-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step5-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>

        <!-- --------------------------- step 6 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step6-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step6-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    নোটানুচ্ছেদ ০৫ এর অনুমোদনের আলোকে স্বচ্ছপত্র স্বাক্ষরের জন্য উপস্থাপন করা হলো।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step6-modal" role="dialog" tabindex="6">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step6-get-data-form" method="post">
                                    <textarea class="tinymce" id="step6-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step6-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step6-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>
        <!-- --------------------------- step 7 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step7-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step7-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>
                    <span>............</span> তারিখে দরপত্র আহ্বানের প্রেক্ষিতে মোট ০৩ (তিন) টি দরপত্র পাওয়া গিয়েছে।
                    দরপত্রগুলো যাচাই-বাছাই করার জন্য স্বল্পমূল্যের ক্রয়ের জন্য দরপত্র ও প্রস্তাব মূল্যায়ন কমিটির
                    সভা আহ্বান করা যেতে পারে।
                </p>
                <!-- Modal -->
                <div class="modal fade" id="step7-modal" role="dialog" tabindex="7">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step7-get-data-form" method="post">
                                    <textarea class="tinymce" id="step7-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step7-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step7-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>
        <!-- --------------------------- step 8 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step8-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step8-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <p>

                </p>
                <!-- Modal -->
                <div class="modal fade" id="step8-modal" role="dialog" tabindex="8">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step8-get-data-form" method="post">
                                    <textarea class="tinymce" id="step8-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step8-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step8-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>
        <!-- --------------------------- step 9 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step9-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step9-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <!-- Modal -->
                <div class="modal fade" id="step9-modal" role="dialog" tabindex="9">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step9-get-data-form" method="post">
                                    <textarea class="tinymce" id="step9-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step9-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step9-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>
        <!-- --------------------------- step 10 content starts -------------------------------- -->
        <div class="panel panel-primary" id="step10-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step10-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <!-- Modal -->
                <div class="modal fade" id="step10-modal" role="dialog" tabindex="10">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step10-get-data-form" method="post">
                                    <textarea class="tinymce" id="step10-texteditor"></textarea>

                                </form>
                            </div>
                            <div class="modal-footer ">
                                <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                <input type="submit" value="Submit" form="step10-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step10-data-container" style="font-size:28px; ">
                </div>
            </div>
        </div>

        <!------------------------- step 11 content starts  ---------------------------------- -->
        <div class="panel panel-primary" id="step11-panel">
            <div class="panel-heading">
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step11-modal"><i
                            class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                        | Upload </i></button>
            </div>
            <div class="panel-body">
                <!-- Modal -->
                <div class="modal fade" id="step11-modal" role="dialog" tabindex="11">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form id="step11-get-data-form" method="post">
                                    <textarea class="tinymce" id="step11-texteditor"></textarea>
                                    <!-- <input type="submit" value="Get Data" > -->
                                </form>

                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-default" >Close</button> -->
                                <input type="submit" value="Submit" form="step11-get-data-form"
                                       class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step11-data-container" style="font-size:28px;">
                </div>
            </div>
        </div>

        <!------------------------- steps complete  ---------------------------------- -->
        <div id="forward" class="container-fluid">
            <div class="row">
                <div class="col-md-offset-10 col-md-2">
                    <button type="button" class="btn btn-info btn-sm" id="forward-btn"><i class="fa fa-upload fa-lg" aria-hidden="true"> |
                            Forward </i></button>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript " src="../js/requisition_form.js"></script>