<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid heading">
            <div>
                <h2>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h2>
                <h3>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h3>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content" id="rfq-list">

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
