<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html ng-app>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DRiCM</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect.
  -->
    <link rel="stylesheet" href="../dist/css/skins/skin-blue.min.css">
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


    <!------------------------------- chahida_potro   -------------------------------  -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" media="screen"
          title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css" media="screen"
          title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css" media="screen"
          title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/requisition_form.css">


    <script>

    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini" >
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">

        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>DRiCM</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>DRiCM</b></span>
        </a>


        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Messages</li>
                            <li>
                                <!-- inner menu: contains the messages -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../dist/img/user2-160x160.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                <small><i class="fa fa-clock-o"></i></small>
                                            </h4>
                                            <p></p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../dist/img/user3-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                eFiles
                                                <small><i class="fa fa-clock-o"></i></small>
                                            </h4>
                                            <p></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../dist/img/user4-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Meetings
                                                <small><i class="fa fa-clock-o"></i></small>
                                            </h4>
                                            <p></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../dist/img/user3-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Documents
                                                <small><i class="fa fa-clock-o"></i></small>
                                            </h4>
                                            <p></p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="../dist/img/user4-128x128.jpg" class="img-circle"
                                                     alt="User Image">
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i></small>
                                            </h4>
                                            <p></p>
                                        </a>
                                    </li>
                                </ul>
                                <!-- /.menu -->
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->

                    <!-- Notifications Menu -->
                    <li class="dropdown notifications-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>


                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 RFQs made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks Menu -->
                    <li class="dropdown tasks-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- Inner menu: contains the tasks -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <!-- Task title and progress text -->
                                            <h3>
                                                Meeting @ 3.00PM
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <!-- The progress bar -->
                                            <div class="progress xs">
                                                <!-- Change the css width attribute to simulate progress -->
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                     role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                                     aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img class="user-image pro-pic" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs full-name"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img  class="img-circle pro-pic" alt="User Image">

                                <p class="full-name">
                                </p>
                                <small style="color: #FFFFFF;" class="designation">Scientific Officer</small>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Designation</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Reports</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Colleagues</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img class="img-circle pro-pic" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p class="full-name"></p>
                    <a href="#"><span class="is-online"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-circle text-success"></i></a>
                </div>
            </div>
            <!-- search form -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="#">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i
                                class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> eFile System</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/">
                        <i class="fa fa-th"></i> <span>Requests</span>

                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i>
                        <span>RFQ</span>
                        <small class="label pull-right bg-green"></small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> RFQ Request</a></li>
                        <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Running RFQ</a></li>
                        <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> RFQ List</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>Tender</span>
                        <small class="label pull-right bg-green">-</small>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> Tender Request</a></li>
                        <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Tender Running</a></li>
                        <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Tender List</a></li>

                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Employees</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> Online</a></li>
                        <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Information</a></li>
                        <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Profiles</a></li>
                    </ul>
                </li>

                <li>
                    <a href="pages/calendar.html">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                        <small class="label pull-right bg-red"></small>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope"></i> <span>Mailbox</span>
                        <small class="label pull-right bg-yellow"></small>
                    </a>
                </li>


                <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
                <li class="header">Activity</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Activity List</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Pending Items
        </span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Workplace</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid heading">
                <div>
                    <h2>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h2>
                    <h3>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h3>
                </div>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <!------------------------- step 1 content starts  ---------------------------------- -->
            <div class="panel panel-primary" id="step1-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step1-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                            data-target="#step1-requirement-form-modal"><i class="fa fa-upload fa-lg"
                                                                           aria-hidden="true"> | চাহিদা পত্র </i>
                    </button>
                </div>
                <div class="panel-body">
                    <p>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ (বিসিএসআইআর)-এর আওতাধীন ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর
                        কেমিক্যাল মেজারমেন্টস- এর বৈজ্ঞানিক কর্মকর্তা <span> ............</span> এর কাছ থেকে প্রাপ্ত
                        চাহিদার (কপি সংযুক্ত) আলোকে গবেষণার জন্য
                        <span>............</span> ক্রয় করা প্রয়োজন। কাজটি জরুরী বিধায় স্থানীয় সরবরাহকারী প্রতিষ্ঠানের
                        সাথে যোগাযোগ করে তুলনামূলক প্রতিযোগী দরদাতা দ্বারা PPR-২০০৮ এর তফসীল-২-এর বিধি ৯(২)(ক) অনুসরণে
                        RFQ পদ্ধতিতে সংগ্রহ করা যেতে পারে।
                    </p>
                    <!-- --------------- Modal for step1 edit start ------------------ -->
                    <div class="modal fade" id="step1-modal" role="dialog" tabindex="1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step1-get-data-form" method="post">
                                        <textarea class="tinymce" id="step1-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step1-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------- Modal for step1 edit end ------------------ -->
                    <div id="step1-data-container" style="font-size:28px;"></div>

                    <!-- --------------- Modal for step1 chahida potro start ------------------ -->
                    <div class="modal fade" id="step1-requirement-form-modal" role="dialog" tabindex="1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h3>
                                    <h4>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <div class="container-fluid" style="color: #ffffff;">
                                                <div class="row">
                                                    <div class="col-md-6">সূত্র নং : ২০১৪১-১৫ আসবাবপত্র ক্রয়</div>
                                                    <div class="col-md-6" id="date" style="text-align:center;"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12"
                                                         style="font-size:25px;text-align:center;font-weight:bold;">
                                                        চাহিদা পত্র
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <table id="dataTable" width="100%" align="center">
                                                <tr>
                                                    <th rowspan="2"></th>
                                                    <th rowspan="2">Item No.</th>
                                                    <th rowspan="2">Description of Items</th>
                                                    <th rowspan="2">Unit of Measurement</th>
                                                    <th rowspan="2">Quantity</th>
                                                    <th colspan="2">Unit Rate of Price</th>
                                                    <th colspan="2">Total Amount</th>
                                                </tr>
                                                <tr id="unit">
                                                    <th>In Figure</th>
                                                    <th>In Words</th>
                                                    <th>In Figure</th>
                                                    <th>In Words</th>
                                                </tr>
                                                <tr>
                                                    <td height="100px" contenteditable="true"><input type="checkbox"
                                                                                                     name="chk"/></td>
                                                    <td height="100px" contenteditable="true"
                                                        style="text-align: center;"> 1
                                                    </td>
                                                    <td height="100px" contenteditable="true"></td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                    <td height="100px" contenteditable="true"></textarea> </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <!-- <div class="col-sm-10 col-md-10 col-lg-10"></div>
                                                <div class="col-sm-2  col-md-2 col-lg-2 pull-right"> -->
                                                <div class="pull-right">
                                                    <div class="btn-group" style="padding-right:15px;">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                                onclick="addRow('dataTable')"> Add Item
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-danger"
                                                                onclick="deleteRow('dataTable')">Delete Item
                                                        </button>
                                                        <!-- <input type="button" value="Add Item" onclick="addRow('dataTable')" />
                                                        <input type="button" value="Delete Item" onclick="deleteRow('dataTable')" /> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="pull-right">
                                            <div class="btn-group" style="padding-right:30px;">
                                                <button type="button" class="btn btn-success"
                                                        id="submit-requisition-form"> Submit
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------- Modal for step1 chahida potro start ------------------ -->

                </div>
            </div>
            <!-- --------------------------- step 2 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step2-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step2-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        ২। সদয় অনুমোদনের জন্য নথি উপস্থাপন করা হলো।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step2-modal" role="dialog" tabindex="2">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step2-get-data-form" method="post">
                                        <textarea class="tinymce" id="step2-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step2-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step2-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>


            <!-- --------------------------- step 3 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step3-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step3-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        নোটানুচ্ছেদ ০১ এর অনুমোদনের আলোকে গবেষণাগারের প্রয়োজনের নিরীখে <span>............</span> এর Specification প্রস্তুত
                        করার দায়িত্ব বাজারমূল্য নির্ধারন ও স্পেসিফিকেশন প্রস্তুতকরন কমিটিকে দেয়া যেতে পারে।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step3-modal" role="dialog" tabindex="3">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step3-get-data-form" method="post">
                                        <textarea class="tinymce" id="step3-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step3-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step3-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>


            <!-- --------------------------- step 4 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step4-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step4-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        নোটানুচ্ছেদ ০৩ এর মাধ্যমে প্রাপ্ত আদেশের আলোকে প্রয়োজনীয় <span>............</span> সমূহের Specification ও বাজারমূল্য নির্ধারনকৃত
                        হয়েছে(কপি সংযুক্ত)। প্রস্তুতকৃত Specification ও বাজারমূল্যের আলোকে প্রয়োজনীয় <span>............</span> ক্রয় করা যেতে পারে।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step4-modal" role="dialog" tabindex="4">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step4-get-data-form" method="post">
                                        <textarea class="tinymce" id="step4-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step4-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step4-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>

            <!-- --------------------------- step 5 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step5-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step5-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        নোটানুচ্ছেদ ০১ এর অনুমোদনের আলোকে <span>............</span> সরবরাহকারী প্রতিষ্ঠানের নিকট হতে দরপত্র
                        আহ্বানের লক্ষ্যে নোটিশ বোর্ডে বিজ্ঞপ্তি প্রকাশ এবং চিঠির মাধ্যমে অবগত করার ব্যাপারে অনুমোদনের
                        জন্য নথি উপস্থাপন করা হলো।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step5-modal" role="dialog" tabindex="5">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step5-get-data-form" method="post">
                                        <textarea class="tinymce" id="step5-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step5-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step5-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>

            <!-- --------------------------- step 6 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step6-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step6-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        নোটানুচ্ছেদ ০৫ এর অনুমোদনের আলোকে স্বচ্ছপত্র স্বাক্ষরের জন্য উপস্থাপন করা হলো।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step6-modal" role="dialog" tabindex="6">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step6-get-data-form" method="post">
                                        <textarea class="tinymce" id="step6-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step6-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step6-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>
            <!-- --------------------------- step 7 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step7-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step7-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>
                        <span>............</span> তারিখে দরপত্র আহ্বানের প্রেক্ষিতে মোট ০৩ (তিন) টি দরপত্র পাওয়া গিয়েছে।
                        দরপত্রগুলো যাচাই-বাছাই করার জন্য স্বল্পমূল্যের ক্রয়ের জন্য দরপত্র ও প্রস্তাব মূল্যায়ন কমিটির
                        সভা আহ্বান করা যেতে পারে।
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step7-modal" role="dialog" tabindex="7">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step7-get-data-form" method="post">
                                        <textarea class="tinymce" id="step7-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step7-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step7-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>
            <!-- --------------------------- step 8 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step8-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step8-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <p>

                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="step8-modal" role="dialog" tabindex="8">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step8-get-data-form" method="post">
                                        <textarea class="tinymce" id="step8-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step8-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step8-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>
            <!-- --------------------------- step 9 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step9-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step9-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <!-- Modal -->
                    <div class="modal fade" id="step9-modal" role="dialog" tabindex="9">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step9-get-data-form" method="post">
                                        <textarea class="tinymce" id="step9-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step9-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step9-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>
            <!-- --------------------------- step 10 content starts -------------------------------- -->
            <div class="panel panel-primary" id="step10-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step10-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <!-- Modal -->
                    <div class="modal fade" id="step10-modal" role="dialog" tabindex="10">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step10-get-data-form" method="post">
                                        <textarea class="tinymce" id="step10-texteditor"></textarea>

                                    </form>
                                </div>
                                <div class="modal-footer ">
                                    <!-- <button type="button " class="btn btn-default " >Close</button> -->
                                    <input type="submit" value="Submit" form="step10-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step10-data-container" style="font-size:28px; ">
                    </div>
                </div>
            </div>

            <!------------------------- step 11 content starts  ---------------------------------- -->
            <div class="panel panel-primary" id="step11-panel">
                <div class="panel-heading">
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#step11-modal"><i
                                class="fa fa-pencil fa-lg" aria-hidden="true"> | Edit </i></button>
                    <button type="button" class="btn btn-info btn-sm"><i class="fa fa-upload fa-lg" aria-hidden="true">
                            | Upload </i></button>
                </div>
                <div class="panel-body">
                    <!-- Modal -->
                    <div class="modal fade" id="step11-modal" role="dialog" tabindex="11">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form id="step11-get-data-form" method="post">
                                        <textarea class="tinymce" id="step11-texteditor"></textarea>
                                        <!-- <input type="submit" value="Get Data" > -->
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-default" >Close</button> -->
                                    <input type="submit" value="Submit" form="step11-get-data-form"
                                           class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step11-data-container" style="font-size:28px;">
                    </div>
                </div>
            </div>

            <!------------------------- steps complete  ---------------------------------- -->
            <div id="forward" class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-10 col-md-2">
                        <button type="button" class="btn btn-info btn-sm" id="forward-btn"><i class="fa fa-upload fa-lg"
                                                                                              aria-hidden="true"> |
                                Forward </i></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer ">
        <!-- To the right -->
        <div class="pull-right hidden-xs ">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="# ">Company</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark ">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs ">
            <li><a href="#control-sidebar-home-tab " data-toggle="tab "><i class="fa fa-home "></i></a></li>
            <li><a href="#control-sidebar-settings-tab " data-toggle="tab "><i class="fa fa-gears "></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content ">
            <!-- Home tab content -->
            <div class="tab-pane " id="control-sidebar-home-tab ">
                <h3 class="control-sidebar-heading ">Recent Activity</h3>
                <ul class="control-sidebar-menu ">
                    <li>
                        <a href="javascript:void(0) ">
                            <i class="menu-icon fa fa-birthday-cake bg-red "></i>

                            <div class="menu-info ">
                                <h4 class="control-sidebar-subheading ">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <i class="menu-icon fa fa-user bg-yellow "></i>

                            <div class="menu-info ">
                                <h4 class="control-sidebar-subheading ">Frodo Updated His Profile</h4>

                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue "></i>

                            <div class="menu-info ">
                                <h4 class="control-sidebar-subheading ">Nora Joined Mailing List</h4>

                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <i class="menu-icon fa fa-file-code-o bg-green "></i>

                            <div class="menu-info ">
                                <h4 class="control-sidebar-subheading ">Cron Job 254 Executed</h4>

                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading ">Tasks Progress</h3>
                <ul class="control-sidebar-menu ">
                    <li>
                        <a href="javascript:void(0) ">
                            <h4 class="control-sidebar-subheading ">
                                Custom Template Design
                                <span class="label label-danger pull-right ">70%</span>
                            </h4>

                            <div class="progress progress-xxs ">
                                <div class="progress-bar progress-bar-danger " style="width: 70% "></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <h4 class="control-sidebar-subheading ">
                                Update Resume
                                <span class="label label-success pull-right ">95%</span>
                            </h4>

                            <div class="progress progress-xxs ">
                                <div class="progress-bar progress-bar-success " style="width: 95% "></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <h4 class="control-sidebar-subheading ">
                                Laravel Integration
                                <span class="label label-warning pull-right ">50%</span>
                            </h4>

                            <div class="progress progress-xxs ">
                                <div class="progress-bar progress-bar-warning " style="width: 50% "></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0) ">
                            <h4 class="control-sidebar-subheading ">
                                Back End Framework
                                <span class="label label-primary pull-right ">68%</span>
                            </h4>

                            <div class="progress progress-xxs ">
                                <div class="progress-bar progress-bar-primary " style="width: 68% "></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane " id="control-sidebar-stats-tab ">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane " id="control-sidebar-settings-tab ">
                <form method="post ">
                    <h3 class="control-sidebar-heading ">General Settings</h3>

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Report panel usage
                            <input type="checkbox " class="pull-right " checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Allow mail redirect
                            <input type="checkbox " class="pull-right " checked>
                        </label>

                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Expose author name in posts
                            <input type="checkbox " class="pull-right " checked>
                        </label>

                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <!-- /.form-group -->

                    <h3 class="control-sidebar-heading ">Chat Settings</h3>

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Show me as online
                            <input type="checkbox " class="pull-right " checked>
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Turn off notifications
                            <input type="checkbox " class="pull-right ">
                        </label>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group ">
                        <label class="control-sidebar-subheading ">
                            Delete chat history
                            <a href="javascript:void(0) " class="text-red pull-right "><i
                                        class="fa fa-trash-o "></i></a>
                        </label>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg "></div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.0 -->
    <script src="../plugins/jQuery/jQuery-2.2.0.min.js "></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../bootstrap/js/bootstrap.min.js "></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/app.min.js "></script>
    <script type="text/javascript " src="../js/socket.io.js"></script>
    <script type="text/javascript " src="../js/realtime_data.js"></script>
    <script type="text/javascript " src="../js/init-tinymce.js"></script>
    <script type="text/javascript " src="../js/getdata.js"></script>
    <script type="text/javascript " src="../js/flow_control.js"></script>
    <script type="text/javascript " src="../js/chahida_potro.js"></script>
    <script type="text/javascript " src="../js/requisition_form.js"></script>


    <!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</div>
</body>

</html>
