<!DOCTYPE html>
<html ng-app>
<head>
    <!-- de553438af5701173a1f743d30683bd8d812fbe4 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DRiCM</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">


    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">




    <!-- Theme style -->
    <link rel="stylesheet" href="../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../css/RFQ_Detail.css">
    <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.0 -->
    <script src="../plugins/jQuery/jQuery-2.2.0.min.js "></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../bootstrap/js/bootstrap.min.js "></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/app.min.js "></script>

    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.0/js/responsive.bootstrap.min.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


    <script type="text/javascript " src="../js/socket.io.js"></script>
    <script type="text/javascript " src="../js/declare.js"></script>

    <!------------------------------- chahida_potro   -------------------------------  -->

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>






    <script type="text/javascript">
        $(document).ready(function() {
            $(".select2").select2();

            $("#rfq_table_non").DataTable();

            var myDate = new Date().toString().slice(0, 21);
            document.getElementById("date").innerHTML = myDate;
        } );
    </script>
    <style type="text/css">
        @media screen and (min-width: 768px) {
            .modal-dialog {
                width: 700px; /* New width for default modal */
            }
            .modal-sm {
                width: 350px; /* New width for small modal */
            }
        }
        @media screen and (min-width: 992px) {
            .modal-lg {
                width: 1050px; /* New width for large modal */
            }
        }
    </style>


</head>

<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <% include ../partials/dashBoardHeader.ejs %>
    <!-- Main Header Ends -->

    <!-- Left sidebar start -->
    <% include ../partials/leftSideBar.ejs %>
    <!--  Left sidebar ends -->

    <!-- new RFQ initiate korar 16 steps start -->


    <!--<div id="target1">-->
    <!--<section class="content-header" id="target">-->
    <!--<div class="container-fluid heading">-->
    <!--<div>-->
    <!--<h2>ডেজিগনেটেড রেফারেন্স ইনস্টিটিউট ফর কেমিক্যাল মেজারমেন্টস</h2>-->
    <!--<h3>বাংলাদেশ বিজ্ঞান ও শিল্প গবেষণা পরিষদ</h3>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!--</div>-->

    <div class="content-wrapper">
        <div id="main-content">
            <% if(main_content === "default") {%>

            <% include ../partials/RFQ_details.ejs %>

            <% } else if(main_content === "rfq_request") {%>

            <% include ../partials/initiate_RFQ.ejs %>

            <% } %>
        </div>
    </div>

    <!-- new RFQ initiate korar 16 steps end -->

    <!-- footer start -->
    <% include ../partials/footer.ejs %>
    <!-- footer end -->

    <% include ../partials/rightSideBar.ejs %>

</div>

<!--<script type="text/javascript " src="../js/data_binder.js"></script>-->
<script>
    RFQ_index = document.URL;
    RFQ_index = RFQ_index.slice(0,-1);
    RFQ_index = RFQ_index.substr(RFQ_index.lastIndexOf('/')+1);
    //    console.log(RFQ_index);
    $.holdReady(true);
    $.ajax({
        type: "GET",
        url: "/api/rfq_detail/"+RFQ_index,
    }).done(function (data) {
        special_data = data;
        console.log(special_data);
        $.holdReady(false);
    });
</script>
<script type="text/javascript " src="../js/realtime_data.js"></script>
<!--<script type="text/javascript " src="../js/flow_control.js"></script>-->
<script type="text/javascript " src="../js/notifications.js"></script>
<script type="text/javascript" src="../js/RFQ_details.js"></script>




</body>
</html>